/* Add colors to icons */
.skill .DiPython { color: #3776AB; }
.skill .DiJavascript1 { color: #F0DB4F; }
.skill .DiReact { color: #61DBFB; }
.skill .DiJava { color: #f89820; }
.skill .DiAws { color: #FF9900; }

.skills-container {
    background-color: #1a1a1a; /* Same as your landing page */
    color: white;
    padding: 4rem;
    text-align: center;
  }
  
  .skills-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .skills-grid {
    display: flex; /* Changed from grid to flex */
    flex-wrap: wrap; /* Allows items to wrap to the next line if the container is not wide enough */
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    gap: 1rem; /* Keeps space between items */
  }
  
  .skill {
    display: flex;
    flex-direction: column; /* Stacks the icon and text vertically */
    align-items: center; /* Centers the icon and text */
    flex-basis: 150px; /* Gives a minimum width to each skill */
  }
  
  .skill-icon {
    font-size: 4rem; /* Icon size */
    margin-bottom: 1rem;
    transition: transform 0.3s; /* Animation transition */
  }
  
  .skill-icon:hover {
    transform: scale(1.5); /* Scale up icon on hover */
  }
  
  .skill h3 {
    font-size: 1.2rem;
    margin-top: 0;
  }
  